#!/usr/bin/make -f
export CARGO=/usr/bin/cargo-1.89
export RUSTC=/usr/bin/rustc-1.89
export CARGO_HOME = $(CURDIR)/debian/cargo-home
export CARGO_NET_OFFLINE = true

%:
	dh $@

override_dh_auto_build:
	mkdir -p $(CARGO_HOME)
	sed 's|directory = "debian/vendor"|directory = "$(CURDIR)/debian/vendor"|' debian/cargo-config > $(CARGO_HOME)/config.toml
	$(CARGO) build --release --locked --offline -p tar-install --bin tar-install
	$(CARGO) build --release --locked --offline -p tarminal --bin tarminal

override_dh_auto_install:
	install -Dm755 target/release/tar-install debian/tar-install/usr/bin/tar-install
	install -Dm755 target/release/tarminal debian/tarminal/usr/bin/tarminal

override_dh_auto_test:
	# skip tests on Launchpad build
